<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014-2016 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanzf.debug.mapper.OrderMapper">

    <resultMap id="orderMapper" type="com.yuanzf.debug.model.OrderModel">
        <result property="id" column="ID"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="productId" column="product_id"/>
        <result property="userId" column="user_id"/>
        <result property="count" column="count"/>
        <result property="totalPrice" column="total_price"/>
    </resultMap>


    <sql id="all_fields">
        create_time, update_time, product_id,user_id, count,total_price
    </sql>

    <select id="queryList"   parameterType="com.yuanzf.debug.model.OrderModel" resultMap="orderMapper">
        SELECT ID,
        <include refid="all_fields"/>
        FROM product_order
        where  product_id =#{productId} AND user_id =#{userId}
        ORDER BY update_time DESC
    </select>


    <select id="countList" resultType="Integer" parameterType="map">
        select count(id)
        from product_order
        where  product_id =#{productId} AND user_id =#{userId}
        ORDER BY update_time DESC
    </select>

    <insert id="insertOrder" parameterType="com.yuanzf.debug.model.OrderModel">
        INSERT INTO product_order(
        <include refid="all_fields"/>
        )
        VALUES(NOW(), NOW(), #{productId}, #{userId}, #{count},
        #{totalPrice})
    </insert>


    <select id="findOrderById" parameterType="java.util.Map" resultMap="orderMapper">
        SELECT ID,
        <include refid="all_fields"/>
        FROM product_order
        where ID=#{id}
    </select>

    <select id="findOrderByUserId" parameterType="int" resultMap="orderMapper">
        SELECT ID,
        <include refid="all_fields"/>
        FROM product_order
        where user_id=#{userId}
    </select>

</mapper>