<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanzf.debug.mapper.ProductMapper">

    <resultMap id="productMapper" type="com.yuanzf.debug.model.ProductModel">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="productName" column="name"/>
        <result property="price" column="price"/>
        <result property="number" column="number"/>
        <result property="status" column="status"/>
        <result property="pictureUrl" column="pic"/>
        <result property="type" column="type"/>
        <result property="desc" column="comment"/>
        <result property="label" column="label"/>
    </resultMap>


    <sql id="all_fields">
        create_time, update_time, name ,price, number, status, pic, type,comment, label
    </sql>

    <select id="queryList" parameterType="map" resultMap="productMapper">
        SELECT id,
        <include refid="all_fields"/>
        FROM product
        where 1=1
        <if test="productName != null">AND name like CONCAT('%',#{productName}, '%')</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="type != null">AND type = #{type}</if>
        ORDER BY UPDATE_TIME DESC
    </select>

    <select id="findProductById" parameterType="int" resultMap="productMapper">
        SELECT id,
        <include refid="all_fields"/>
        FROM product
        where ID=#{id}
    </select>

    <select id="countList" resultType="Integer">
        select count(id)
        from product
    </select>

    <insert id="insertProduct" parameterType="com.yuanzf.debug.model.ProductModel">
        INSERT INTO product(
        <include refid="all_fields"/>
        )
        VALUES(NOW(), NOW(), #{productName}, #{price}, #{number},#{status}, #{pictureUrl},#{type}, #{desc}, #{label})
    </insert>


    <update id="updateProduct" parameterType="com.yuanzf.debug.model.ProductModel">
        UPDATE product
        set
        <if test="productName != null">name= #{productName},</if>
        <if test="status != null"> status = #{status},</if>
        <if test="type != null"> type = #{type},</if>
        <if test="number != null"> number = #{number},</if>
        <if test="pictureUrl != null"> pic = #{pictureUrl},</if>
        <if test="price != null"> price = #{price},</if>
        <if test="desc != null"> comment = #{desc},</if>
        update_time = now()
        WHERE ID=#{id}
    </update>


    <delete id="deleteProduct" parameterType="java.util.Map">

      DELETE from product     where ID=#{id}

    </delete>

</mapper>