<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--==================mybatis所有设置标签，所有的标签都列出来更易于理解Configuration类===========================-->
    <!--=========配置所有属性=========-->
    <!--这个配置方便我们在上下文中使用它,如下文中就使用${test}就使用"123"替换-->
    <!-- 也可以在resource定义properties文件， -->
    <!-- 优先级 properties < resource/url <  方法传递的参数 -->
    <!--<properties resource="">
        <property name="test" value="123"/>
    </properties>-->
    <!--=========设置=========-->
    <!--<settings>-->
        <!--<setting name="" value=""/>-->
    <!--</settings>-->

    <!--=========类型别名=========-->
    <!--<typeAliases></typeAliases>-->
    <!--=========类型处理器=========-->
    <!--<typeHandlers></typeHandlers>-->
    <!--========= 对象工厂=========-->
    <!--<objectFactory type=""></objectFactory>-->
    <!--=========插件=========-->
    <!--<plugins>-->
        <!--<plugin interceptor=""></plugin>-->
    <!--</plugins>-->
    <!--=========配置环境=========-->
    <!--<environments default="">-->
        <!--=========环境变量=========-->
        <!--<environment id="">-->
            <!--=========事务管理器=========-->
            <!-- <transactionManager type=""></transactionManager>-->
            <!--=========数据源=========-->
            <!--<dataSource type=""></dataSource>-->
        <!--</environment>-->
    <!--</environments>-->
    <!--=========数据库厂商标志-->
    <!--<databaseIdProvider type=""></databaseIdProvider>-->
    <!--=========映射器=========-->
    <!-- <mappers></mappers>  -->
    <!--===================结束========================================-->
    <!-- properties必须桌子settings之前，否则会报错 -->
    <properties resource="mybatis/mysql-connect.properties"/>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.yuanzf.debug.mapper"/>
        <!--<mapper class="com.yuanzf.debug.mapper.UserMapper"/>-->
    </mappers>

</configuration>